name: CI

on:
  push:
    branches:
      - main
      - v[0-9]+.[0-9x]+.x
  pull_request:

env:
  NEXT_TELEMETRY_DISABLED: 1

jobs:
  build:
    runs-on: ubuntu-latest
    container: registry.gitlab.com/dealmore/dealmore-build-images/lambda:nodejs14.x

    steps:
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            .yarn
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        run: yarn --frozen-lockfile --cache-folder .yarn

      - name: Build
        run: yarn build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: |
            packages/runtime/dist/
            packages/tf-next/dist/
            packages/proxy/dist/
            packages/proxy/dist.zip
            packages/deploy-trigger/dist/
            packages/deploy-trigger/dist.zip
          if-no-files-found: error

  test-integration:
    needs: build
    runs-on: ubuntu-latest
    container: registry.gitlab.com/dealmore/dealmore-build-images/lambda:nodejs14.x
    services:
      s3:
        image: registry.gitlab.com/dealmore/dealmore-build-images:s3-emulator
        env:
          MINIO_ACCESS_KEY: test
          MINIO_SECRET_KEY: testtest

    env:
      MINIO_ACCESS_KEY: test
      MINIO_SECRET_KEY: testtest
      S3_ENDPOINT: s3:9000

    steps:
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            .yarn
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Yarn install
        run: yarn --frozen-lockfile --cache-folder .yarn

      - name: Download build artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: packages

      - name: Jest
        run: yarn test

  test-e2e-prepare:
    needs: build
    runs-on: ubuntu-latest
    container: registry.gitlab.com/dealmore/dealmore-build-images/lambda:nodejs14.x
    steps:
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            .yarn
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Yarn install
        run: yarn --frozen-lockfile --cache-folder .yarn

      - name: Download build artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: packages

      - name: Build e2e fixtures
        run: yarn test:e2e:prepare

      - name: Upload e2e fixtures
        uses: actions/upload-artifact@v2
        with:
          name: e2e-fixtures
          path: test/fixtures/**/.next-tf/**/*
          if-no-files-found: error

  test-e2e:
    needs: [build, test-e2e-prepare]
    runs-on: ubuntu-latest
    services:
      s3:
        image: registry.gitlab.com/dealmore/dealmore-build-images:s3-emulator
        env:
          MINIO_ACCESS_KEY: test
          MINIO_SECRET_KEY: testtest
        ports:
          - 9000:9000
    env:
      SAM_CLI_TELEMETRY: 0
      # Don't worry these are fake AWS credentials for AWS SAM
      AWS_ACCESS_KEY_ID: ABIAZLJNBT8I3KFOU4NO
      AWS_SECRET_ACCESS_KEY: 4Xt3Rbx4DO21MhK1IHXZXRvVRDuqaQ0Wo5lILA/h
      MINIO_ACCESS_KEY: test
      MINIO_SECRET_KEY: testtest

    steps:
      - name: Setup AWS SAM
        run: |
          brew tap aws/tap
          brew install aws-sam-cli
          sam --version

      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            .yarn
            **/node_modules
          key: ${{ runner.os }}-e2e-${{ hashFiles('yarn.lock') }}

      - name: Download build artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: packages

      - name: Download prebuilt e2e fixtures
        uses: actions/download-artifact@v2
        with:
          name: e2e-fixtures
          path: test/fixtures

      - name: Install dependencies
        run: yarn --frozen-lockfile --cache-folder .yarn

      - name: Run e2e-test
        run: yarn test:e2e --runInBand

      - name: Output SAM logs
        run: |
          printf "\n\nOutput of sam-local.log:\n"
          cat sam-local.log
          printf "\n\nOutput of sam-api.log:\n"
          cat sam-api.log

  publishRelease:
    name: Potentially publish release
    runs-on: ubuntu-latest
    needs: [build, test-integration, test-e2e]
    if: github.ref == 'refs/heads/main'
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 25

      - name: Fetch git tags
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Download build artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: packages

      # git user is required (bot not used) by release-it
      - name: Set git user to GitHub Actions
        uses: fregante/setup-git-user@v1.0.1

      - name: Verify npm config
        run: npm config list

      - name: Publish packages
        run: ./scripts/publish-release.sh
        continue-on-error: true

      - name: Save npm logs
        uses: actions/upload-artifact@v2
        with:
          name: npm-logs
          path: /home/runner/.npm/_logs/
