name: Lint

on:
  push:
    branches:
      - main
      - v[0-9]+.[0-9x]+.x
  pull_request:

jobs:
  lint-tf:
    name: Lint Terraform
    runs-on: ubuntu-latest
    container: hashicorp/terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Lint Terraform
        run: terraform fmt -check -recursive -diff
